CarParKing/Connected Services/CarParKingService/NewWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservice.demo.fhsalzburg.ac.at/" targetNamespace="http://webservice.demo.fhsalzburg.ac.at/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customer" type="tns:person" />
  <xs:element name="getPersonList" type="tns:getPersonList" />
  <xs:element name="getPersonListResponse" type="tns:getPersonListResponse" />
  <xs:element name="savePerson" type="tns:savePerson" />
  <xs:element name="savePersonResponse" type="tns:savePersonResponse" />
  <xs:complexType name="savePerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="tns:person" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="person">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" use="required" />
  </xs:complexType>
  <xs:complexType name="savePersonResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getPersonList">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getPersonListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:person" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>